---
layout: base
title: Download
priority: 0.5
change_frequency: weekly
desc: Download links to Weld distribution bundles, Weld jars and CDI API jars
---

%h1 Download
%h2 Java EE Application Server
%p
  The easiest way to use Weld is with a Java EE Application Server. Weld is used by the following application servers:
  %ul
    %li
      %a{:href=>"http://www.wildfly.org/"}WildFly
    %li
      %a{:href=>"http://www.jboss.org/products/eap.html"}JBoss Enterprise Application Platform 6
    %li
      %a{:href=>"https://www.jboss.org/jbossas/"}JBoss AS 7
    %li
      %a{:href=>"http://glassfish.java.net/"}GlassFish
    %li
      %a{:href=>"http://www.oracle.com/technetwork/middleware/weblogic/overview/index.html"}Oracle WebLogic Server
    %li
      %a{:href=>"https://developer.ibm.com/wasdev/downloads/"}WebSphere Application Server Liberty Profile
%h2 Maven
%ul
  %li
    %a{:href=>"http://search.maven.org/#artifactdetails%7Cjavax.enterprise%7Ccdi-api%7C1.1%7Cjar"}
      CDI API
  %li
    %a{:href=>"http://search.maven.org/#artifactdetails%7Corg.jboss.weld%7Cweld-core%7C#{site.releases[0].version}%7Cjar"}Weld Core
  %li
    Weld Servlet (
    %a{:href=>"http://search.maven.org/#artifactdetails%7Corg.jboss.weld.servlet%7Cweld-servlet-core%7C#{site.releases[0].version}%7Cjar"}Core
    ,
    %a{:href=>"http://search.maven.org/#artifactdetails%7Corg.jboss.weld.servlet%7Cweld-servlet%7C#{site.releases[0].version}%7Cjar"}With dependencies
    )
  %li
    Weld SE (
    %a{:href=>"http://search.maven.org/#artifactdetails%7Corg.jboss.weld.se%7Cweld-se-core%7C#{site.releases[0].version}%7Cjar"}Core
    ,
    %a{:href=>"http://search.maven.org/#artifactdetails%7Corg.jboss.weld.se%7Cweld-se%7C#{site.releases[0].version}%7Cjar"}With dependencies
    )
  %li
    %a{:href=>"http://search.maven.org/#artifactdetails%7Corg.jboss.weld%7Cweld-osgi-bundle%7C#{site.releases[0].version}%7Cjar"}
      Weld OSGi bundle


%h2 Binary distribution

%table.downloads
  %tr
    %th
      Version
    %th
      Category
    %th
      CDI version
    %th
      Release date
    %th
      Changelog
    %th
      Download
  - for release in site.releases[0,10]
    %tr
      %td.version
        =release["version"]
      %td
        - if release["category"] == "Experimental"
          %strong
            =release["category"]
        - else
          =release["category"]
      %td
        - if release["version"].index("1.0") == 0 || release["version"].index("1.1") == 0
          1.0
        - if release["version"].index("2.0") == 0 || release["version"].index("2.1") == 0
          1.1
        - if release["version"].index("2.2") == 0 || release["version"].index("2.3") == 0 || release["version"].index("2.4") == 0
          1.2
        - if release["version"].index("3.0") == 0
          2.0 (Preview)
      %td
        =release["date"]
      %td
        %a{:href=>"https://issues.jboss.org/secure/ReleaseNote.jspa?projectId=12310891&version=#{release.versionId}"}
          Changelog
      %td
        - if release.download == "sf"
          %a{:href=>"http://sourceforge.net/projects/jboss/files/Weld/#{release.version}"}
            Download
        - elsif release.download == "maven"
          Available in
          %a{:href=>"http://search.maven.org/#artifactdetails%7Corg.jboss.weld%7Cweld-core%7C#{release.version}%7Cjar"}
            Maven
        - else
          %a{:href=>"http://download.jboss.org/weld/#{release.version}"}
            Download

%p

%a{ :href=>"/dist" }
  %i.fa.fa-download
  &nbsp;Binary distribution archive

%h2 Snapshots
%p
  Nightly snapshots are produced regularly by our continuous integration server and available from the
  %a{:href=>"https://repository.jboss.org/nexus/content/repositories/snapshots/org/jboss/weld/"}
    snapshots repository.
