---
layout: base
---
.row
  .span4
    %img{ :src=>'/images/weld_logo_450x.png', :alt=>'Weld Logo', :class=>"weld-home-logo"}
  .span8
    %img{ :src=>'/images/CDIbackground.png', :alt=>'CDI tagcloud', :class=>"cdi-background"}
.row
  .span11
    %p Weld is the reference implementation for CDI: Contexts and Dependency Injection for the Java EE Platform.
    %p For an application server to be Java EE compliant it must contain a CDI implementation.  As the Java standard for CDI, Weld is integrated into many application servers such as JBoss EAP, WildFly, Glassfish, Tomcat, and Jetty.
  .span5
    %h2 Try Weld Today
  .span5
    %h2 News
    %ul.simple
      - for post in site.posts
        %li
          %h3
            %a{ :href=>post.url }#{post.title}
          - if (post.content.length > 0)
            %p{:style=>"color: #666;"}
              %strong #{post.date.year}-#{post.date.month}-#{post.date.day}: #{post.author}
            %p= summarize(html_to_text(post.content), 50)
