---
layout: base
title: Home
priority: 0.5
change_frequency: weekly
desc: Weld - CDI Reference Implementation
---
.row.equal-height
  .col-md-7
    %div.jumbotron.hidden-xs
      %h1 @Inject for the Java Platform.
      %p Runs on Java EE application servers, servlet containers, Java SE, Ceylon, Vert.x ...
      -# %div.search-box
      -#  %i.fa.fa-search.fa-lg
      -#  %input{:placeholder=>"Search issues, site, docs...",:size=>"25"}
    %div
      -# %h2 About
      %p
        Weld is the reference implementation of
        %a{:href=>"http://cdi-spec.org",:target=>'_blank'} CDI: Contexts and Dependency Injection for the Java EE Platform
        \- a
        %a{:href=>"https://jcp.org/en/home/index",:target=>'_blank'} JCP
        standard for dependency injection and contextual lifecycle management and one of the most important and popular parts of the Java EE.
        Weld is integrated into many Java EE application servers such as
        = succeed ',' do
          %a{:href=>"http://www.wildfly.org/",:target=>'_blank'}WildFly
        = succeed ',' do
          %a{:href=>"http://www.jboss.org/products/eap.html",:target=>'_blank'}JBoss Enterprise Application Platform
        = succeed ',' do
          %a{:href=>"http://glassfish.java.net/",:target=>'_blank'}GlassFish
        = succeed ',' do
          %a{:href=>"http://www.oracle.com/technetwork/middleware/weblogic/overview/index.html",:target=>'_blank'}Oracle WebLogic Server
        %a{:href=>"https://developer.ibm.com/wasdev/downloads/",:target=>'_blank'}WebSphere Application Server
        and others. Weld can also be used in plain
        %a{:href=>"http://docs.jboss.org/weld/reference/latest-master/en-US/html/environments.html#weld-servlet",:target=>'_blank'}servlet containers (Tomcat, Jetty)
        or
        %a{:href=>"http://docs.jboss.org/weld/reference/latest-master/en-US/html/environments.html#weld-se",:target=>'_blank'}Java SE.
      %h2 Try Weld Today
      %div
        %p
          To use Weld today, download the
          %a{:href=>"http://wildfly.org",:target=>'_blank'}WildFly server
          (formerly JBoss AS) and add the following code to the
          %code pom.xml
          file of your application:
        %pre.code
          %code.xml
            = preserve do
              :escaped
                <dependency>
                   <groupId>javax.enterprise</groupId>
                   <artifactId>cdi-api</artifactId>
                   <!-- Use version 2.0 for Weld 3 -->
                   <version>1.2</version>
                   <scope>provided</scope>
                </dependency>
        %p
          For alternative ways of using Weld, see the
          %a{:href=>"/download"}download section
          or the
          %a{:href=>"http://docs.jboss.org/weld/reference/latest/en-US/html/environments.html"}reference documentation.
      %div
        %h2 Latest Patches for WildFly
        %p
          Each version of WildFly is shipped with given version of Weld.
          However, WildFly and Weld have different release cadences.
          Therefore, with every Weld release we also create a patch which allows you to easily upgrade:
        %table{:class=>"table table-bordered",:style=>"width:100%;"}
          %colgroup
            %col{:style=>"width: 33%;"}
            %col{:style=>"width: 33%;"}
            %col{:style=>"width: 33%;"}
          %thead
            %tr{:class=>"active"}
              %th
                WildFly
              %th
                Ships with Weld
              %th
                Available Patches
          %tbody
            %tr
              %td
                WildFly 11.0.0.CR1
              %td
                Weld 2.4.3.Final
                %span{:class=>"label label-primary"}
                  CDI 1.2
              %td
                %ul
                  %li
                    %a{:href=>"http://download.jboss.org/weld/2.4.5.Final/wildfly-11.0.0.CR1-weld-2.4.5.Final-patch.zip"}Weld 2.4.5.Final
                    %span{:class=>"label label-primary"}
                      CDI 1.2
            %tr
              %td
                WildFly 11.0.0.Beta1
              %td
                Weld 2.4.3.Final
                %span{:class=>"label label-primary"}
                  CDI 1.2
              %td
                %ul
                  %li
                    %a{:href=>"http://download.jboss.org/weld/3.0.1.Final/wildfly-11.0.0.Beta1-weld-3.0.1.Final-patch.zip"}Weld 3.0.1.Final
                    %span{:class=>"label label-info"}
                      CDI 2.0
            %tr
              %td
                WildFly 10.1.0.Final
              %td
                Weld 2.3.5.Final
                %span{:class=>"label label-primary"}
                  CDI 1.2
              %td
                %ul
                  %li
                    %a{:href=>"http://download.jboss.org/weld/2.4.5.Final/wildfly-10.1.0.Final-weld-2.4.5.Final-patch.zip"}Weld 2.4.5.Final
                    %span{:class=>"label label-primary"}
                      CDI 1.2
                  %li
                    %a{:href=>"http://download.jboss.org/weld/3.0.1.Final/wildfly-11.0.0.Beta1-weld-3.0.1.Final-patch.zip"}Weld 3.0.1.Final
                    %span{:class=>"label label-info"}
                      CDI 2.0
        %div{:class=>"admonitionblock tip"}
          %table
            %tbody
              %tr
                %td{:class=>"icon"}
                  %i{:class=>"fa icon-tip",title=>"Tip"}
                %td{:class=>"content"}
                  If you’re not familiar with patching WildFly, check the
                  %a{:href=>"/documentation/#12"}FAQ.
  .col-md-3
    %div.well{:style=>"height:100%;"}
      %h2
        Latest News
        %a{:href=>"http://weld.cdi-spec.org/news.atom"}
          %i.fa.fa-rss
      %hr
      %ul.newsColumn
        - for post in site.posts[0,5]
          %li
            %h3
              %a{ :href=>post.url }#{post.title}
            - if (post.content.length > 0)
              %div.news-date.news-boxed
                #{post.date.year}-#{post.date.month}-#{post.date.day}
                - if (post.tags.length > 0)
                  &nbsp;
                  %span.tags
                    %i.fa.fa-tags
                    - for tag in post.tags
                      - link = "/news/tags/"
                      - link << tag.to_s
                      %a{:href=>link}<
                        #{tag}
                      - if tag != post.tags.last
                        =", "
              %p
                = post.excerpt || summarize(html_to_text(post.content), 20)
              %hr
        %div#book-box
          %a{:href=>"http://www.packtpub.com/jboss-weld-cdi-for-java-platform/book"}
            %img{:src=>"images/book.jpg", :width=>"250", :height=>"307", :class=>"weld-book-img"}
