---
layout: base
---
.row
  .span10
    %p Weld is the reference implementation for CDI: Contexts and Dependency Injection for the Java EE Platform.
    %p For an application server to be Java EE compliant it must contain a CDI implementation.  As the Java standard for CDI, Weld is integrated into many application servers such as JBoss EAP, WildFly, Glassfish, Tomcat, and Jetty.
.row
  .span5
    %div
      %h2 Try Weld Today
      %p TODO
    %div
      %h2 Weld Book
      %p The latest book on Weld is now available:
      %a{:href=>"http://www.packtpub.com/jboss-weld-cdi-for-java-platform/book"}
        %img{:src=>"images/book.jpg", :width=>"250", :height=>"307"}
  .span5
    %h2 News
    %ul.simple
      - for post in site.posts
        %li
          %h3
            %a{ :href=>post.url }#{post.title}
          - if (post.content.length > 0)
            %p{:style=>"color: #666;"}
              %strong #{post.date.year}-#{post.date.month}-#{post.date.day}: #{post.author}
            %p= summarize(html_to_text(post.content), 50)
