---
layout: base
title: News
priority: 1
change_frequency: daily
desc: Latest news about Weld.
---
- page.title = "News - tagged as &quot;#{page.selected_tag}&quot;" if !page.selected_tag.nil?
%h1
  #{page.title}
  %a{:href=>"http://weld.cdi-spec.org/news.atom"}
    %i.fa.fa-rss

- for post in page.posts
  .post
    %h2
      %a{:href=>post.url}= post.title
    - if (post.content.length > 0)
      %div.news-date.news-boxed
        #{post.date.year}-#{post.date.month}-#{post.date.day}
        - if (post.tags.length > 0)
          &nbsp;
          %span.tags
            %i.fa.fa-tags
            - for tag in post.tags
              - link = "/news/tags/"
              - link << tag.to_s
              %a{:href=>link}<
                #{tag}
              - if tag != post.tags.last
                =", "
        &nbsp;
        %i.fa.fa-pencil
        #{post.author}
    %p
    .content
      = post.content
    %hr

= page.posts.links

%hr
%div
  %a{:href=>"http://weld.cdi-spec.org/news.atom"}
    %i.fa.fa-rss
    Subscribe to Weld news