!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title
      = "#{site.title}: #{page.title}"
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'shortcut icon', :type=>'image/x-icon', :href=>"/images/weld_icon_32x.ico" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" }
    //If IE7 for font-awesome
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :media=>'screen', :href=>"//static.jboss.org/css/tabzilla.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }

    %script{ :type=>'text/javascript', :src=>'//static.jboss.org/theme/js/libs/jquery/jquery-1.9.1.min.js' }
    %script{ :type=>'text/javascript', :src=>'//static.jboss.org/js/_jbossorg-tabzilla.js' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }

    %link{:rel=>"alternate", :href=>"#{site.base_url}/news.atom", :type=>"application/atom+xml"}

    %link{:rel=>"stylesheet", :href=>"//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css"}
    %script{ :type=>'text/javascript', :src=>"//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"}
    %script
      hljs.initHighlightingOnLoad();
  %body
    .container-fluid
      .row-fluid
        .span2{:style=>"min-height:1px;"}
          %ul.nav.nav-tabs.nav-stacked.span2.visible-desktop#main_nav
            %li
              %a{ :href=>"/" }
                %i.icon-home
                Home
            %li
              %a{ :href=>"/download" }
                %i.icon-download
                Download
            %li
              %a{ :href=>"/news" }
                %i.icon-edit
                News
            %li
              %a{ :href=>"https://issues.jboss.org/browse/WELD#selectedTab=com.atlassian.jira.plugin.system.project%3Aroadmap-panel" }
                %i.icon-road
                Road map
            %li
              %a{ :href=>"/documentation" }
                %i.icon-book
                Docs &amp; FAQ
            %li
              %a{ :href=>"/community" }
                %i.icon-group
                Community
            %li
              %a{ :href=>"http://github.com/weld" }
                %i.icon-github-alt
                Source code
            %li
              %a{ :href=>"https://issues.jboss.org/browse/WELD#selectedTab=com.atlassian.jira.plugin.system.project%3Asummary-panel" }
                %i.icon-tasks
                Bug tracker
            %li
              %a{ :href=>"https://twitter.com/jbossweld" }
                %i.icon-twitter
                Follow @jbossweld
          %a.hidden-desktop#toggle_menu{:href=>"#"}
            %i.icon-exchange
          %ul.nav.nav-tabs.nav-stacked.span2.hide.hidden-desktop#mobile_menu
            %li
              %a{ :href=>"/" }
                %i.icon-home
                Home
            %li
              %a{ :href=>"/download" }
                %i.icon-download
                News
            %li
              %a{ :href=>"/roadmap" }
                %i.icon-road
                Road map
            %li
              %a{ :href=>"/documentation" }
                %i.icon-book
                Documentation
            %li
              %a{ :href=>"/community" }
                %i.icon-group
                Community
            %li
              %a{ :href=>"http://github.com/weld" }
                %i.icon-github-alt
                Source code
            %li
              %a{ :href=>"https://jira.jboss.org/jira/browse/WELD" }
                %i.icon-tasks
                Bug tracker
            %li
              %a{ :href=>"/governance"}
              %i.icon-edit
                Governance
        .span10
          .rowfluid
            .dropup
              #ajbossproject
                A JBoss Project
              %a#tab.tabnav-closed{ :href=>'#'} Red Hat
              %script
                window.addEventListener('load', function() {renderTabzilla("Weld", "weld", false )}, false);
          .row
            .span4
              %img{ :src=>'/images/weld_logo_450x.png', :alt=>'Weld Logo', :class=>"weld-home-logo"}
            .span8
              %img{ :src=>'/images/CDIbackground.png', :alt=>'CDI tagcloud', :class=>"cdi-background"}
          .row-fluid
            .span10
              ~ content
      %footer
        .row
          .container{:id => "companyfooter"}
            .redhatlogo{:style => "text-align:center;"}
              .logospacer{:style => "height:10px;"}
              %a{:href => "http://www.redhat.com/"}
                %img{:src => "http://static.jboss.org/theme/images/common/redhat_logo.png"}
  %script{ :type=>'text/javascript', :src=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js" }
  - if site.google_analytics
    = google_analytics
  :javascript
    $(document).ready(function() {
      $('#toggle_menu').click(function(){
        $("#mobile_menu").toggle();
      });
    });
