!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title
      = "#{site.title}"
      - if page.title
        = " :: #{page.title}"
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" }
    //If IE7 for font-awesome
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .container-fluid
      .row-fluid
        .span2{:style=>"min-height:1px;"}
          %ul.nav.nav-tabs.nav-stacked.span2.visible-desktop#main_nav
            %li
              %a{ :href=>"/" }
                %i.icon-home
                Home
            %li
              %a{ :href=>"/download" }
                %i.icon-download
                Download
            %li
              %a{ :href=>"https://issues.jboss.org/browse/WELD#selectedTab=com.atlassian.jira.plugin.system.project%3Aroadmap-panel" }
                %i.icon-road
                Road map
            %li
              %a{ :href=>"/documentation" }
                %i.icon-book
                Documentation
            %li
              %a{ :href=>"/community" }
                %i.icon-group
                Community
            %li
              %a{ :href=>"http://github.com/weld" }
                %i.icon-github-alt
                Source code
            %li
              %a{ :href=>"https://jira.jboss.org/jira/browse/WELD" }
                %i.icon-tasks
                Bug tracker
            %li
              %a{ :href=>"/governance" }
                %i.icon-edit
                Governance
          %a.hidden-desktop#toggle_menu{:href=>"#"}
            %i.icon-exchange
          %ul.nav.nav-tabs.nav-stacked.span2.hide.hidden-desktop#mobile_menu
            %li
              %a{ :href=>"/" }
                %i.icon-home
                Home
            %li
              %a{ :href=>"/download" }
                %i.icon-download
                News
            %li
              %a{ :href=>"/roadmap" }
                %i.icon-road
                Road map
            %li
              %a{ :href=>"/documentation" }
                %i.icon-book
                Documentation
            %li
              %a{ :href=>"/community" }
                %i.icon-group
                Community
            %li
              %a{ :href=>"http://github.com/weld" }
                %i.icon-github-alt
                Source code
            %li
              %a{ :href=>"https://jira.jboss.org/jira/browse/WELD" }
                %i.icon-tasks
                Bug tracker
            %li
              %a{ :href=>"/governance"}
              %i.icon-edit
                Governance
        .span10
          .row-fluid
            ~ content
          %hr
          %footer
  %script{ :type=>'text/javascript', :src=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js" }
  - if site.google_analytics
    = google_analytics_async
  :javascript
    $(document).ready(function() {
      $('#toggle_menu').click(function(){
        $("#mobile_menu").toggle();
      });
    });