!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title
      = "#{site.title}: #{page.title}"
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'shortcut icon', :type=>'image/x-icon', :href=>"/images/weld_icon_32x.ico" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :media=>'screen', :href=>"//static.jboss.org/css/tabzilla.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }

    %script{ :type=>'text/javascript', :src=>'//static.jboss.org/theme/js/libs/jquery/jquery-1.9.1.min.js' }
    %script{ :type=>'text/javascript', :src=>'//static.jboss.org/js/_jbossorg-tabzilla.js' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }

    %link{:rel=>"alternate", :href=>"#{site.base_url}/news.atom", :type=>"application/atom+xml"}

    %link{:rel=>"stylesheet", :href=>"//cdn.jsdelivr.net/highlight.js/8.9.1/styles/default.min.css"}
    %script{ :type=>'text/javascript', :src=>"//cdn.jsdelivr.net/highlight.js/8.9.1/highlight.min.js"}
    %script
      hljs.initHighlightingOnLoad();
  %body
    .container-fluid
      .row
        .col-md-2.col-sm-3
          %div.sidebar-nav
            %div.navbar.navbar-default{"role"=>"navigation"}
              %div.navbar-header
                %button.navbar-toggle{type=>"button","data-toggle"=>"collapse","data-target"=>".sidebar-navbar-collapse"}
                  %span.sr-only
                    Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                %a.visible-xs.navbar-brand{href=>"#"}
                  %img{ :src=>'/images/weld_logo_100x.png', :alt=>'Weld Logo'}
              %div.collapse.navbar-collapse.sidebar-navbar-collapse
                %ul.nav.navbar-nav
                  %li
                    %a{ :href=>"/" }
                      %i.fa.fa-home
                      &nbsp;Home
                  %li
                    %a{ :href=>"/download" }
                      %i.fa.fa-download
                      &nbsp;Download
                  %li
                    %a{ :href=>"/news" }
                      %i.fa.fa-newspaper-o
                      &nbsp;News
                  %li
                    %a{ :href=>"https://issues.jboss.org/projects/WELD?selectedItem=com.atlassian.jira.jira-projects-plugin:release-page",:target=>'_blank' }
                      %i.fa.fa-road
                      &nbsp;Road Map
                  %li
                    %a{ :href=>"/documentation" }
                      %i.fa.fa-book
                      &nbsp;Docs &amp; FAQ
                  %li
                    %a{ :href=>"/community" }
                      %i.fa.fa-group
                      &nbsp;Community
                  %li
                    %a{ :href=>"http://github.com/weld",:target=>'_blank' }
                      %i.fa.fa-github-alt
                      &nbsp;Source Code
                  %li
                    %a{ :href=>"https://issues.jboss.org/browse/WELD#selectedTab=com.atlassian.jira.plugin.system.project%3Asummary-panel",:target=>'_blank' }
                      %i.fa.fa-tasks
                      &nbsp;Bug Tracker
                  %li
                    %a{ :href=>"https://twitter.com/jbossweld",:target=>'_blank' }
                      %i.fa.fa-twitter
                      &nbsp;Follow @jbossweld
        .col-md-10.col-sm-9
          .row.hidden-xs
            .dropup
              #ajbossproject
                A JBoss Project
              %a#tab.tabnav-closed{ :href=>'#'} Red Hat
              %script
                window.addEventListener('load', function() {renderTabzilla("Weld", "weld", false )}, false);
          .row
            .col-md-4
              %a{:href => "/"}
                %img.hidden-xs.weld-home-logo{ :src=>'/images/weld_logo_450x.png', :alt=>'Weld Logo'}
            .col-md-8
              %img.hidden-xs.hidden-sm.cdi-background{ :src=>'/images/CDIbackground.png', :alt=>'CDI tagcloud'}
          .row.content-wrapper
            .col-md-10
              ~ content
    %footer
      .row
        .container{:id => "companyfooter"}
          .redhatlogo{:style => "text-align:center;"}
            .logospacer{:style => "height:10px;"}
            %a{:href => "http://www.redhat.com/"}
              %img{:src => "http://static.jboss.org/theme/images/common/redhat_logo.png"}
  %script{ :type=>'text/javascript', :src=>"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" }
  - if site.google_analytics
    = google_analytics
  :javascript
    $(document).ready(function() {
      $('#toggle_menu').click(function(){
        $("#mobile_menu").toggle();
      });
    });
