---
layout: base
---
.post
  %h1
    #{page.title}
    %a{:href=>"http://weld.cdi-spec.org/news.atom",:title=>"Subscribe to Weld news"}
      %i.fa.fa-rss
  %div.news-date.news-boxed
    #{page.date.year}-#{page.date.month}-#{page.date.day}
  %div.news-author.news-boxed
    #{page.author}
  %p
  .content
    ~ content
  - if site.disqus
    = page.disqus_comments
