---
layout: base
---
.post
  %h1
    #{page.title}
    %a{:href=>"http://weld.cdi-spec.org/news.atom",:title=>"Subscribe to Weld news"}
      %i.fa.fa-rss
  %div.news-date.news-boxed
    #{page.date.year}-#{page.date.month}-#{page.date.day}
    - if (page.tags.length > 0)
      &nbsp;
      %span.tags
        %i.fa.fa-tags
        - for tag in page.tags
          - link = "/news/tags/"
          - link << tag.to_s
          %a{:href=>link}<
            #{tag}
          - if tag != page.tags.last
            =", "
    &nbsp;
    %i.fa.fa-pencil
    #{page.author}
  %p
  .content
    ~ content
  - if site.disqus
    = page.disqus_comments
